@font-face {
  font-family: rfd;
  font-weight: 400;
  src: url(/fonts/rfd-regular.ttf) format("truetype");
}
@font-face {
  font-family: rfd;
  font-weight: 500;
  src: url(/fonts/rfd-semibold.ttf) format("truetype");
}
@font-face {
  font-family: rfd;
  font-weight: 600;
  src: url(/fonts/rfd-bold.ttf) format("truetype");
}
@font-face {
  font-family: rfd;
  font-weight: 700;
  src: url(/fonts/rfd-bold.ttf) format("truetype");
}
@font-face {
  font-family: rfd;
  font-weight: 800;
  src: url(/fonts/rfd-ultrabold-condensed.ttf) format("truetype");
}
@font-face {
  font-family: rfd;
  font-weight: 900;
  src: url(/fonts/rfd-black-extended.ttf) format("truetype");
}

.font-sans {
  font-family: "rfd", "Roboto", "Arial", sans-serif;
}

.prose h1 {
  @apply uppercase font-black sm:text-center break-words;
}

.prose h2 a {
  @apply uppercase font-extrabold;
}

.prose blockquote {
  @apply border-black prose-lg;
  quotes: "«" "»";
}

.prose h2 a,
.prose h3 a,
.prose h4 a {
  @apply no-underline hover:underline;
}

.prose code {
  @apply font-serif font-semibold bg-gray-50;
}

.prose code::before,
.prose code::after {
  content: none;
}
