---
export interface Props {
  title: string;
  href: string;
  style?: string;
}

const { href, title, style = "neutral" } = Astro.props;
---

<a href={href} class="no-underline hover:underline font-bold">
  <div class={`note flex flex-row items-center ${style}`}>
    <span class="flex-1">
      {title}
    </span>
    <span>→</span>
  </div>
</a>
