---
export interface Props {
  title: string;
  href: string;
  style?: string;
}

const { href, title, style = "neutral" } = Astro.props;
---

<div class={`note ${style}`}>
  <a
    href={href}
    class="flex flex-row items-center no-underline hover:underline font-bold"
  >
    <span class="flex-1">
      {title}
    </span>
    <span>→</span>
  </a>
</div>
